* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    background: #42424231;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-links {
    display: flex;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: 15px;
}

li a:hover {
    color: rgb(250, 69, 175);
    font-weight: bold;
    font-size: 17px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    transition: all 0.3s ease;
}


/*Hero Section*/
.background-image {
    background: url("./images/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(50%);
}

.hero-text {
    position: absolute;
    top: 30%;
    padding: 0 0 0 3rem;
    color: white;
}

.hero-text h2 {
    font-size: 50px;
    max-width: 350px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 6rem;
}

.hero-text p {
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
}

.common-btn {
    background-color: rgb(250, 69, 175);
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    margin-top: 1rem;
    font-size: 15px;
    padding: 0.5rem;
    cursor: pointer;
}

.common-btn:hover {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(250, 69, 175);
}


/* About Section */
.about-us {
    height: auto;
    padding: 5rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h2 {
    text-align: center;
    color: rgb(92, 55, 61);
    padding-bottom: 1.5rem;
    line-height: 1rem;
}

.about-us p {
    text-align: center;
    line-height: 2rem;
    font-size: 15px;
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
}

.about-col {
    height: auto;
    width: auto;
}

.about-col img {
    width: 250px;
    max-width: 250px;
    height: 150px;
    max-height: 150px;
    align-content: center;
}

.about-col p {
    padding: 0.5rem;
    text-align: center;
    font-size: 15px;
    max-width: 250px;
    margin-bottom: 3rem;
}


/*Join Section*/
.join-us {
    background-color: #FFC0CB;
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us h2 {
    color: rgb(92, 55, 61);
    text-align: center;
    padding-bottom: 1.5rem;
    line-height: 1rem;
}

.join-us p {
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 15px;
    line-height: 2rem;
}


/* Services Section */
.service {
    height: auto;
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h2 {
    text-align: center;
    color: rgb(92, 55, 61);
    padding-bottom: 2rem;
    line-height: 1rem;
}

.latest-event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.latest-event img {
    height: 300px;
    width: 300px;
}

.latest-event p {
    margin: 1rem;
    font-size: 15px;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    line-height: 2rem;
}


/*Team Section*/
.team {
    background-color: #FFC0CB;
    padding: 3rem 0rem 1rem 0rem;
}

.team h2 {
    text-align: center;
    color: rgb(92, 55, 61);
    padding-bottom: 2rem;
    line-height: 1rem;
}

.team-row {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
}

.team-col {
    height: auto;
    width: auto;
}

.team-col img {
    width: 250px;
    max-width: 250px;
    height: 200px;
    max-height: 200px;
    align-content: center;
}

.team-col p {
    padding: 0.5rem;
    text-align: center;
    font-size: 15px;
    max-width: 250px;
    margin-bottom: 3rem;
}


/* Contact Section */
.contact {
    padding: 3rem 0rem 2rem 0rem;
}

.contact h2 {
    text-align: center;
    color: rgb(92, 55, 61);
    padding-bottom: 2rem;
    line-height: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

form input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(250, 69, 175);
    height: 3rem;
}

form textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(250, 69, 175);
    font-family: sans-serif;
}

form button {
    background-color: rgb(250, 69, 175);
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    margin-top: 1rem;
    font-size: 18px;
    padding: 1rem;
    cursor: pointer;
}

form button:hover {
    border: solid 1px rgb(250, 69, 175);
    background-color: rgb(255, 255, 255);
    color: rgb(250, 69, 175);
}


/* Footer Section */
footer {
    background-color: #FF69B4;
    padding-bottom: 2rem;
}

.footer-text {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.footer-text h3 {
    padding-bottom: 0;
    color: rgb(92, 55, 61);
}

.pstyle {
    font-size: 15px;
    color: rgb(92, 55, 61);
    margin-bottom: 0.5rem;
}

.footer-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}


/*Responsive Design*/
@media screen and (max-width: 768px) {
    /* .team {
        max-width: 768px;
    } */
    body {
        overflow-x: hidden;
    }
    .hero-text h2 {
        font-size: 30px;
    }
    .hero-text {
        padding-right: 0;
        margin-right: 0;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: 50%;
        top: 0;
        background-color: #20202062;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links a {
        padding-bottom: 1rem;
    }
    .burger {
        display: inline-block;
    }

    /*Javascript Animation*/
    .nav-active {
        transform: translateX(0%);
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/*Phone*/
@media (min-width: 480px) {
    .hero-text h2 {
        font-size: 55px;
        margin: 2rem 0;
    }
    .hero-text p {
        font-size: 18px;
    }
    .about-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team {
        background-color: #FFC0CB;
        padding: 3rem 0rem 1rem 0rem;
    }
    .team-row {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .latest-events {
        display: flex;
    }
    .latest-events p {
        font-size: 15px;
        max-width: 300px;
        margin-left: 2rem;
    }
    form {
        align-items: center;
    }
    form input {
        width: 50%;
    }
    form textarea {
        width: 50%;
    }
    form button {
        width: 50%;
    } 
}

/*Tablet*/
@media (min-width: 767px) {
    .hero-text h2 {
        font-size: 65px;
    }
    .hero-text p {
        font-size: 18px;
    }
    .about-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .team-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .latest-events {
        display: flex;
    }
    .latest-events p {
        font-size: 15px;
        max-width: 300px;
        margin-left: 2rem;
    }
    form {
        align-items: center;
    }
    form input {
        width: 50%;
    }
    form textarea {
        width: 50%;
    }
    form button {
        width: 50%;
    } 
}

/*Laptop*/
@media (min-width: 1050px) {
    .hero-text h2 {
        font-size: 70px;
    }
    .hero-text p {
        font-size: 20px;
    }
    .common-btn {
        padding: 0.8rem;
        font-size: 18px;
    }
    .about-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .team-row {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: flex-start;
    } 
    .join-us p {
        font-size: 15px;
        max-width: 400px;
    }
    .latest-events img {
        width: 350px;
        height: 250px;
    }
    .latest-events p {
        font-size: 15px;
        max-width: 300px;
        margin-left: 5rem;
        align-self: center;
    }
    form {
        align-items: center;
    }
    form input {
        width: 50%;
    }
    form textarea {
        width: 50%;
    }
    form button {
        width: 50%;
    }
}
